body {
    background: url(images/space-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    
}
h1 {
    position: fixed;
    color: white;
    text-align: center;
    margin-top: 50vh;
    left: 35%;
    font-size: 80px;
}
.ships-container {
    margin: 0 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.hero img {
    width: 30vw;
}
.alien-ships img {
    width: 19vw;
}
.main-alien img {
    width: 30vw;
}
@media screen and  (min-width: 1024px) {
    .hero img {
        width: 10vw;
    }
    .alien-ships img {
        width: 8vw;
    }
    .main-alien img {
        width: 15vw;
    }
}