@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: url(images/space-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    font-family: 'Press Start 2P', cursive;
}

.ships-container {
    margin: 0 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.hero img {
    width: 100px;
}
.aliens {
    width: 320px;
    justify-content: center;
    align-items: center;

}
.alien-fleet img {
    width: 60px;
}
.alien-fleet {
    justify-content: center;
    width: 100%;
    position: relative;
    /* transition: 1s; */
    animation: move-in 3s linear forwards;
    
}
.test {
    
    transition: transform 1s;
}
.row-1-hlth, .row-2-hlth {
    color: white;
    font-size: 7.6px;
}
.main-alien {
    
    position: relative;
    width: 50%;
    animation: move-left 2s linear infinite;
}
.main-alien img {
    width: 75px;
}
@keyframes move-left {
    0% {
        top: -35%;
        left: 15%;
        /* bottom: -50%; */
    }
    50% {
        left: 30%;
        /* bottom: 50%; */
    }
    100% {
        top: -35%;
        left: 15%;
        /* bottom: -50%; */
    }
}
@keyframes move-in {
    from {
        top: -100%;
    }
    to {
        top: 3%;
    }
}

@media screen and  (min-width: 1024px) {
    .hero img {
        width: 10vw;
    }
    .alien-ships img {
        width: 8vw;
    }
    .main-alien img {
        width: 15vw;
    }
}