@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: url(images/space-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    
    height: 95vh;
    font-family: 'Press Start 2P', cursive;
}
.ships-container {
    margin: 0 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    text-align: left;
}
.hero-ship {
    text-align: left;
    flex-grow: 2;
}
.hero-ship img {
    width: 100px;
    margin-left: 14px;
}
.hero-stats {
    color: white;
    font-size: 15px;
}
.hero-stats p {
    margin: 21px 0 21px 0;
}
.score {
    color: white;
    text-align: right;
    width: 60px;
    font-size: 15px;
}
.aliens {
    width: 320px;
    justify-content: center;
    align-items: center;
}
.alien-fleet img {
    width: 60px;
}
.alien-fleet {
    justify-content: center;
    width: 100%;
}
[id='0'], [id='1'], [id='2'], [id='3'], [id='4'], [id='5'], [id='6'], [id='7'], [id='8'], [id='9'] {
    position: relative;
    animation: move-in 2s linear forwards;
}
.text-container {
    color: white;
}
.title {
    position: relative;
    animation: title-in 0.5s linear forwards;
    margin-top: 0;
}
.blink {
    position: relative;
    animation: blink 1s infinite;
}
.choose {
    height: 50vh;
    width: 320px;
    animation: pick-move-in 1s linear forwards;
}
#arrow {
    width: 60px;
    filter: invert(1);
    position: relative;
    animation: spin-arrow 2s linear infinite;
}
.text-container img:active {
    transform: translateY(5px);
}
.prompt {
    width: 320px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 8px;
}
.prompt img {
    width: 100px;
    cursor: pointer;
}
.prompt h1 {
    color: red;
}
.prompt img:active {
    transform: translateY(5px);
}
.move-down {
    transition: transform 0.75s;
}
.row-1-hlth, .row-2-hlth {
    color: white;
    font-size: 7.6px;
    opacity: 0;
    height: 8px;
}
.appear {
    transition: opacity 0.2s;
    opacity: 1;
}
.main-alien {
    position: relative;
    width: 320px;
    height: 100px;
}
.main-alien img {
    width: 100px;
}
#current-enemy {
    position: relative;
    animation: ship-idle 3s linear infinite;
}
#hero-idle {
    position: relative;
    animation: ship-idle 4s linear infinite;
}
.row-1, .row-2 {
    height: 60px;
    width: 100%;
}
.main-container {
    height: 130px;
}
.stat-img-container {
    width: 35px;
    
}
.stat-img-container img {
    width: 35px;
    margin-top: 2px;
}
#laser-one-miss {
    width: 30px;
    position: relative;
    display: inline;
    animation: fire-one-miss 1s linear forwards;
}
#laser-two-miss {
    width: 30px;
    position: relative;
    display: inline;
    animation: fire-two-miss 1s linear forwards;
}
.enemy-shoot-start {
    width: 320px;
}
.enemy-shoot-start img {
    display: none;
    width: 40px;
}
.shoot-start {
    width: 320px;
}
.shoot-start img {
    display: none;
    width: 30px;
}
#enter-ship{
    position: relative;
    animation: enter-ship 2s linear forwards;
}
#health-img, #health-txt, #firepower-txt, #missile-txt, #current-score {
    position: relative;
    animation: stats-in 2s linear forwards;
}
#health-img, #firepower-img, #missile-img {
    position: relative;
    animation: stat-img-in 2s linear forwards;
}
#fire-btn {
    position: relative;
    animation: clicker 0.5s infinite;
}
#enemy-dodge {
    position: relative;
    animation: enemy-dodge 0.5s linear forwards;
}
#laser-one-hit {
    display: inline;
    width: 30px;
    position: relative;
    animation: fire-one-hit 0.7s linear forwards;
}
#laser-two-hit {
    position: relative;
    display: inline;
    width: 30px;
    animation: fire-two-hit 0.7s linear forwards;
}
#hit-explode-one, #hit-explode-two {
    position: relative;
    display: inline;
    width: 30px;
    animation: hit-explode 0.4s linear forwards;
}
#enemy-hit {
    position: relative;
    animation: enemy-hit .1s linear infinite;
}
#enemy-miss {
    z-index: 1;
    position: relative;
    display: inline;
    animation: enemy-miss 1s linear forwards;
}
#ship-dodge {
    position: relative;
    animation: ship-dodge 0.7s linear forwards;
}
#ship-hit {
    position: relative;
    display: inline;
    animation: ship-hit 0.6s linear forwards;
}
#hit-explode {
    z-index: 1;
    position: relative;
    display: inline;
    animation: ship-hit-explode 0.4s linear forwards;
}
@keyframes ship-hit-explode {
    0% {
        transform: translateY(55vh) scale(1);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(55vh) scale(2);
        opacity: 0;
    }
}
@keyframes clicker {
    to {
        transform: translateY(5px);
    }
}
@keyframes move-left {
    0% {
        left: 40%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 40%;
    }
}
@keyframes move-in {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@keyframes enemy-miss {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(110vh);
    }
}
@keyframes ship-hit {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(55vh);
    }
}

@keyframes fire-one-miss {
    from {
        transform: translate(-23%, 5vh);
    }
    to {
        transform: translate(-23%, -110vh);
    }
}
@keyframes fire-two-miss {
    from {
        transform: translate(21%, 5vh);
    }
    to {
        transform: translate(21%, -110vh);
    }
}
@keyframes fire-one-hit {
    from {
        transform: translate(-23%, 5vh);
    }
    to {
        transform: translate(-23%, -60vh);
    }
}
@keyframes fire-two-hit {
    from {
        transform: translate(21%, 5vh);
    }
    to {
        transform: translate(21%, -60vh);
    }
}
@keyframes hit-explode {
    0% {
        transform: translateY(-60vh) scale(1);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-60vh) scale(2);
        opacity: 0;
    }
}

@keyframes enemy-hit {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
@keyframes ship-dodge {
    0% {
        transform: scaleX(1) skewY(0);
    }
    50% {
        transform: scaleX(0.4) skewY(15deg);
    }
    100% {
        transform: scaleX(1) skewY(0);
    }
}
@keyframes spin-arrow {
    0% {
        transform: translateY(-5px);
    }
    25% {
        transform: scaleX(0.75);
    }
    50% {
        transform: translateY(5px) scaleX(0.1);
    }
    75% {
        transform: scaleX(0.75);
    }
    100% {
        transform: translateY(-5px);
    }
}
@keyframes pick-move-in {
    from {
        transform: translateY(110vh);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes title-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes stats-in {
    from {
        transform: translateY(240%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes stat-img-in {
    from {
        transform: translateY(110%);
        transform: (translateY(0));
    }
}
@keyframes enter-ship {
    0% {
        transform: translate(5px, 110%)
    } 
    3% {
        transform: translate(-5px, 107%)
    }
    6% {
        transform: translate(5px, 104%)
    }
    9% {
        transform: translate(-5px, 101%)
    }
    12% {
        transform: translate(5px, 98%)
    }
    15% {
        transform: translate(-5px, 95%)
    }
    18% {
        transform: translate(5px, 92%)
    }
    21% {
        transform: translate(-5px, 89%)
    }
    24% {
        transform: translate(5px, 86%)
    }
    27% {
        transform: translate(-5px, 83%)
    }
    100% {
        transform: translateX(0) translateY(0)
    }
}
@keyframes ship-idle {
    0% {
        transform: translate(0, 0);
    }
    17% {
        transform: translate(15px, 15px);
    }
    34% {
        transform: translate(15px, -15px);
    }
    51% {
        transform: translate(0, 0);
    }
    67% {
        transform: translate(-15px, 15px);
    }
    84% {
        transform: translate(-15px, -15px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes enemy-dodge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
/* @media screen and  (min-width: 1024px) {
    .hero img {
        width: 10vw;
    }
    .alien-ships img {
        width: 8vw;
    }
    .main-alien img {
        width: 15vw;
    }
} */